<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Voluntarios._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Voluntarios #UnaSolaFuerza</h1>
        <p class="lead">22 de Marzo - En esta página encontrarás información sobre los centros de acopio en Lima</p>   
        <p>¿Quieres actualizar o agregar alguna información? Escríbenos a aaii@pucp.edu.pe</p>
    </div>
    
<div class="container">
  <div id="table">
    <table class="table">
  <tr>
    <th>Distrito</th>
    <th>Centro de Acopio</th> 
    <th>Ubicación</th>

    <th>Estado</th>
    <th>Más info</th>
  </tr>
        <tr>
      <td>Ate</td>
      <td>Real Plaza Santa Clara</td>
      <td><a href="https://www.google.com/maps?cid=8811794849898741185">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/minproduccion/photos/a.437257412964504.90820.255505611139686/1436171416406427/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Barranco</td>
      <td>Agencia Copiloto</td>
      <td><a href="https://www.google.com/maps/place/Perez+Roca+234,+Distrito+de+Lima+15063,+Per%C3%BA/@-12.1423391,-77.0262491,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b7ef96eb0b83:0xd370c6c9863b2a5b!8m2!3d-12.1423391!4d-77.0240604">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="http://www.copiloto.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Callao</td>
      <td>CARITAS DEL PERÚ</td>
      <td><a href="https://www.google.com/maps/place/Calle+Omicron+492,+Distrito+del+Callao+07006,+Per%C3%BA/@-12.0489783,-77.0879776,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c94ea8316349:0x9be5b1b0a4d0dd97!8m2!3d-12.0489783!4d-77.0857889">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/caritasdelperu/?fref=ts">Facebook</a></td>
    </tr>
  <tr>
      <td>Callao</td>
      <td>MUNICIPALIDAD LA PUNTA</td>
      <td><a href="https://www.google.com/maps/place/MUNICIPALIDAD+LA+PUNTA/@-12.0728123,-77.1656013,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x1163de6233ef841d!8m2!3d-12.0728123!4d-77.1634126">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.munilapunta.gob.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Callao</td>
      <td>Pesquera Tasa</td>
      <td><a href="https://www.google.com/maps?q=Carr.+Nestor+Gambetta+2-706,+Distrito+del+Callao+07031,+Per%C3%BA&ftid=0x9105cdb7d89839d5:0xf52011f67e2c0213">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/ilanegra/posts/1570507379641176?pnref=story">Facebook</a></td>
    </tr>
  <tr>
      <td>Carabayllo</td>
      <td>SOCIOS EN SALUD</td>
      <td><a href="https://www.google.com/maps/place/Avenida+Chimpu+Ocllo+998,+Carabayllo,+Per%C3%BA/@-11.890435,-77.0432578,17z/data=!3m1!4b1!4m5!3m4!1s0x9105d0eeccf2c09f:0xe5e7f6d3add45d9d!8m2!3d-11.890435!4d-77.0410691">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/SociosEnSalud/photos/a.151590621557698.42229.126661790717248/1441129392603808/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Independencia</td>
      <td>Municipalidad de Independencia</td>
      <td><a href="https://www.google.com/maps?cid=12416340032782938675">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/MININTERPERU/photos/p.10155162995763464/10155162995763464/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Independencia</td>
      <td>Mega Plaza</td>
      <td><a href="https://www.google.com/maps/place/Mega+Plaza/@-11.9938577,-77.0641404,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x9d64f6794789376b!8m2!3d-11.9938577!4d-77.0619517">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="">Facebook</a></td>
    </tr>
  <tr>
      <td>Jesus Maria</td>
      <td>Real Plaza Salaverry</td>
      <td><a href="https://www.google.com/maps/place/Real+Plaza+Salaverry/@-12.0896515,-77.054782,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x93dd5b0ea540b6e0!8m2!3d-12.0896515!4d-77.0525933">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.realplaza.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Jesus Maria</td>
      <td>Latina Televisión</td>
      <td><a href="https://www.google.com/maps?cid=10772753115448828685">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.latina.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Jesus Maria</td>
      <td>Concha Acústica del Campo de Marte</td>
      <td><a href="https://www.google.com/maps?q=Concha+Ac%C3%BAstica+del+Campo+de+Marte&ftid=0x9105c8e8550813f9:0xf58784155caa108d">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="-">Facebook</a></td>
    </tr>
  <tr>
      <td>La Molina</td>
      <td>Colegio SS.CC. Recoleta</td>
      <td><a href="https://www.google.com/maps/place/Colegio+SS.CC.+Recoleta/@-12.0748341,-76.962534,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x13f6cbb7140c43e4!8m2!3d-12.0748341!4d-76.9603453">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.recoleta.edu.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>La Victoria</td>
      <td>Dirección de Policía de Tránsito PNP</td>
      <td><a href="https://www.google.com/maps/place/Direcci%C3%B3n+de+Polic%C3%ADa+de+Tr%C3%A1nsito+PNP/@-12.0628048,-77.0224711,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xc776c92a55a2d0de!8m2!3d-12.0628048!4d-77.0202824">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/MININTERPERU/photos/p.10155162995763464/10155162995763464/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Cruz Roja Peru</td>
      <td><a href="https://www.google.com/maps?cid=9730620810339019346">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/permalink.php?story_fbid=1272609926141055&id=113277568740969">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Palacio de Gobierno</td>
      <td><a href="https://www.google.com/maps/place/Palacio+de+Gobierno+del+Per%C3%BA/@-12.0448456,-77.0319752,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x15f0bda5ccbd31eb!8m2!3d-12.0448456!4d-77.0297865">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/minproduccion/photos/a.437257412964504.90820.255505611139686/1436171416406427/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Prefectura de Lima</td>
      <td><a href="https://www.google.com/maps/place/Av.+Espa%C3%B1a+400,+Lima+15001,+Per%C3%BA/@-12.0581533,-77.0426808,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c8c38bd16acb:0x3f4950b0608ef686!8m2!3d-12.0581533!4d-77.0404921">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>IYF Perú</td>
      <td><a href="https://www.google.com/maps?q=Naciones+Unidas+1650,+Distrito+de+Lima+15082,+Per%C3%BA&ftid=0x9105c928a390475f:0xc90c9ecff8fb28d8">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/iyfperu/photos/a.251654378224036.60664.192707820785359/1368765023179627/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Museo de Arte de Lima MALI</td>
      <td><a href="https://www.google.com/maps?cid=10368137270505532026">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/events/383991828639195/">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Seminario San Agustín</td>
      <td><a href="https://www.google.com/maps/place/Seminario+San+Agust%C3%ADn/@-12.2295474,-76.9712676,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4cd0a866b51c3467!8m2!3d-12.2295474!4d-76.9690789">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/events/288139394939124/">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Reciclando</td>
      <td><a href="https://www.google.com/maps/place/Avenue+El+Sol+299,+Distrito+de+Lima+15063,+Per%C3%BA/@-12.1393287,-77.0222173,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b7faec6d9757:0xc232302afb51e9f2!8m2!3d-12.1393287!4d-77.0200286">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/AsociacionReciclando/photos/a.995998980418956.1073741829.995877907097730/1495684147117101/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>América Televisión</td>
      <td><a href="https://www.google.com/maps?cid=15474809174805953214">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.americatv.com.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Ministerio de Transportes y Comunicaciones</td>
      <td><a href="https://www.google.com/maps/place/Ministerio+de+Transportes+y+Comunicaciones/@-12.049371,-77.0581941,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xb022c6599e4d5a4b!8m2!3d-12.049371!4d-77.0560054">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.mtc.gob.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Real Plaza Centro Cívico</td>
      <td><a href="https://www.google.com/maps/place/Real+Plaza+Centro+C%C3%ADvico/@-12.0567207,-77.0397555,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x3e12ff686b901453!8m2!3d-12.0567207!4d-77.0375668">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.realplaza.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>SCOUTS DEL PERÚ</td>
      <td><a href="https://www.google.com/maps?cid=11874704950339135046">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.scout.org.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Lima</td>
      <td>Parque La Muralla</td>
      <td><a href="https://www.google.com/maps/place/Parque+La+Muralla/@-12.0445613,-77.0285892,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x93908fb4f80854da!8m2!3d-12.0445613!4d-77.0264005">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="-">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>NUTREDUCATE</td>
      <td><a href="https://www.google.com/maps/place/Cipriano+Aguero+141,+Distrito+de+Lima+15074,+Per%C3%BA/@-12.1153793,-77.0291736,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c8113ab0d41b:0x40185f42950bc51!8m2!3d-12.1153793!4d-77.0269849">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/Nutrieducate/photos/a.661071184037033.1073741828.659895840821234/1058278470982967/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>DIPOL SUR -Mininter</td>
      <td><a href="https://www.google.com/maps/place/Bodega+Segundo+Sime%C3%B3n+Mario+N%C3%BA%C3%B1ez/@-12.1148028,-77.0288075,19.08z/data=!4m5!3m4!1s0x0:0x117beb78dd50196a!8m2!3d-12.1144229!4d-77.0284109">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/MININTERPERU/photos/p.10155162995763464/10155162995763464/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>TELETÓN</td>
      <td><a href="https://www.google.com/maps/place/Av.+Petit+Thouars+5160,+Miraflores+15074,+Per%C3%BA/@-12.1141731,-77.0308188,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c816a4b526db:0xc5968fa5d3e44ccd!8m2!3d-12.1141731!4d-77.0286301">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/FundacionTeletonPeru/photos/a.195743300193.137255.163822745193/10154157415045194/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>SCOUTS DEL PERÚ</td>
      <td><a href="https://www.google.com/maps?q=Av.+Arequipa+5140,+Miraflores+15074,+Per%C3%BA&ftid=0x9105c817159127c5:0x2507ac2f3e96e815">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.scout.org.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>Municipalidad de Miraflores</td>
      <td><a href="https://www.google.com/maps/place/Municipalidad+de+Miraflores/@-12.1216915,-77.0313812,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xb69e4b3c2e7f89df!8m2!3d-12.1216915!4d-77.0291925">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.miraflores.gob.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Miraflores</td>
      <td>Parque Central de Miraflores</td>
      <td><a href="https://www.google.com/maps/place/Parque+Central+de+Miraflores/@-12.1206102,-77.031828,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x991b84da5cbd0585!8m2!3d-12.1206102!4d-77.0296393">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.miraflores.gob.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Rimac</td>
      <td>Complejo Policial Rimac</td>
      <td><a href="https://www.google.com/maps?cid=16504750023434623491">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/MININTERPERU/photos/p.10155162995763464/10155162995763464/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Iglesia Parroquiana Nuestra Señora de Gracia</td>
      <td><a href="https://www.google.com/maps/place/Iglesia+Parroquiana+Nuestra+Se%C3%B1ora+de+Gracia/@-12.0987593,-77.0140492,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x20ede5ea2e305cea!8m2!3d-12.0987593!4d-77.0118605">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/events/288139394939124/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Colise Eduardo Dibós</td>
      <td><a href="https://www.google.com/maps/place/Coliseo+Eduardo+Dib%C3%B3s/@-12.1108844,-77.0033328,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x244b829fd959fdc!8m2!3d-12.1108844!4d-77.0011441">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Real Plaza Primavera</td>
      <td><a href="https://www.google.com/maps/place/Real+Plaza+Primavera/@-12.1112597,-77.0041364,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x558f5fd1f4ebaea1!8m2!3d-12.1112597!4d-77.0019477">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/minproduccion/photos/a.437257412964504.90820.255505611139686/1436171416406427/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Perú Goal</td>
      <td><a href="https://www.google.com/maps/place/Av.+Aviaci%C3%B3n+3053,+San+Borja,+Per%C3%BA/@-12.1001963,-77.0040973,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c7db832d7d4f:0x41c6dcba72de4783!8m2!3d-12.1001963!4d-77.0019086">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/LearningGoal/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Gran Teatro Nacional del Perú</td>
      <td><a href="https://www.google.com/maps/place/Gran+Teatro+Nacional+del+Per%C3%BA/@-12.0865609,-77.005285,17z/data=!4m5!3m4!1s0x0:0xdd62873e6d53e56b!8m2!3d-12.0865609!4d-77.0030963">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/mincu.pe/photos/a.180427252032688.44827.166985706710176/1407584149316986/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Socios en SALUD</td>
      <td><a href="https://www.google.com/maps?q=Av.+San+Borja+Nte.+1245,+San+Borja+15037,+Per%C3%BA&ftid=0x9105c7c6288d9d79:0x4b8dd6aa0b460a47">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/SociosEnSalud/photos/a.151590621557698.42229.126661790717248/1441129392603808/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>Jockey Plaza</td>
      <td><a href="https://www.google.com/maps/place/Jockey+Plaza/@-12.0858307,-76.9795114,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x56b810a6e3f1a28c!8m2!3d-12.0858307!4d-76.9773227">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.jockeyplaza.com.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>San Borja</td>
      <td>MISIONES URBANAS</td>
      <td><a href="https://www.google.com/maps?cid=14533456059636825272">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/events/288139394939124/permalink/297743223978741/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>Colegio San Agustin</td>
      <td><a href="https://www.google.com.pe/maps/place/Colegio+San+Agust%C3%ADn/@-12.0907279,-77.0231322,17z/data=!3m1!4b1!4m5!3m4!1s0x9105cdd08648a7bf:0x93821bca2aef0ec3!8m2!3d-12.0907332!4d-77.0209435">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/events/288139394939124/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>Fab Lab Lima</td>
      <td><a href="https://www.google.com.pe/maps/place/Fab+Lab+Lima/@-12.09727,-77.0381645,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c842d40367bd:0x20160a885b33ac3b!8m2!3d-12.0972753!4d-77.0359758">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/AsociacionReciclando/photos/a.995998980418956.1073741829.995877907097730/1495684147117101/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>Ministerio del Interior</td>
      <td><a href="https://www.google.com.pe/maps/place/Ministerio+del+Interior/@-12.0954324,-77.0171427,16.75z/data=!4m8!1m2!2m1!1sMinisterio+del+interior!3m4!1s0x9105c8773284b91d:0x338a65366c9ebb5c!8m2!3d-12.0979555!4d-77.0155093">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/MININTERPERU/photos/p.10155162995763464/10155162995763464/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>Parque Arona</td>
      <td><a href="https://www.google.com/maps/place/Parque/@-12.0965077,-77.0287762,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x24c5c805b5be8fe2!8m2!3d-12.0965077!4d-77.0265875">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/voluntariadocaritaslima/photos/a.1055470691195626.1073741827.1055464754529553/1281879025221457/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>Aparato</td>
      <td><a href="https://www.google.com.pe/maps/place/Calle+Las+Casas+15,+San+Isidro+15046/@-12.0940611,-77.0335063,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c867a85c8435:0x9cae5822fd25cb8f!8m2!3d-12.0940664!4d-77.0313176">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/APARATOLIMA/photos/a.422186918133957.1073741829.422141561471826/422186808133968/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Isidro</td>
      <td>FE Y ALEGRIA- FUNDACION OLI</td>
      <td><a href="https://www.google.com/maps?q=Calle+Los+Alamos+595,+San+Isidro+15076,+Per%C3%BA&ftid=0x9105c844cd57a819:0xfe5f716d36659e09">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/FundacionOLI/photos/a.359184237510319.81138.351597508268992/1261994450562622/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>San Juan de Miraflores</td>
      <td>SCOUTS DEL PERÚ</td>
      <td><a href="https://www.google.com/maps?cid=9744090197155756754">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.scout.org.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Luis</td>
      <td>Videna</td>
      <td><a href="https://www.google.com/maps/place/VIDENA/@-12.0813602,-77.0040804,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xac7583613e6cc89f!8m2!3d-12.0813602!4d-77.0018917">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="">Facebook</a></td>
    </tr>
  <tr>
      <td>San Miguel</td>
      <td>Plaza San Miguel</td>
      <td><a href="https://www.google.com/maps?cid=12549966004262303854">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.plazasanmiguel.com.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>San Miguel</td>
      <td>Municipalidad de San Miguel</td>
      <td><a href="https://www.google.com/maps?cid=1777257944187274719">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.munisanmiguel.gob.pe">Facebook</a></td>
    </tr>
  <tr>
      <td>Santiago de Surco</td>
      <td>Beagle Club</td>
      <td><a href="https://www.google.com/maps/place/Tomas+Marsano+4391,+Santiago+de+Surco+15039,+Per%C3%BA/@-12.1417968,-76.9937094,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b81248e24e2f:0xe384b018c64c9e42!8m2!3d-12.1417968!4d-76.9915207">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/beagleclubperuoficial/photos/a.266544580046791.69603.210271369007446/1499962960038274/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Santiago de Surco</td>
      <td>UNIVERSIDAD RICARDO PALMA. Ciudad Universitaria</td>
      <td><a href="https://www.google.com/maps?cid=5454711386472643542">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="www.urp.edu.pe/">Facebook</a></td>
    </tr>
  <tr>
      <td>Santiago de Surco</td>
      <td>NUTREDUCATE</td>
      <td><a href="https://www.google.com/maps/place/Cesar+Diaz+41,+Distrito+de+Lima+15039,+Per%C3%BA/@-12.1400763,-76.9919609,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b81285ecb8af:0xf450fa2af4885aa7!8m2!3d-12.1400763!4d-76.9897722">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/Nutrieducate/photos/a.661071184037033.1073741828.659895840821234/1058278470982967/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Surco</td>
      <td>NUTREDUCATE</td>
      <td><a href="https://www.google.com/maps/place/Cesar+Diaz+41,+Distrito+de+Lima+15039,+Per%C3%BA/@-12.1400763,-76.9919609,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b81285ecb8af:0xf450fa2af4885aa7!8m2!3d-12.1400763!4d-76.9897722">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/Nutrieducate/photos/a.661071184037033.1073741828.659895840821234/1058278470982967/?type=3&theater">Facebook</a></td>
    </tr>
  <tr>
      <td>Surco</td>
      <td>Aparato</td>
      <td><a href="https://www.google.com.pe/maps/place/Jir%C3%B3n+Jacarand%C3%A1+570,+Lima+15023/@-12.1250042,-76.9771906,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c787cdc6c4f3:0xf25a07fcbb88391e!8m2!3d-12.1250095!4d-76.9750019">Ver en Mapa</a></td>
      <td>-</td>
      <td><a href="https://www.facebook.com/APARATOLIMA/photos/a.422186918133957.1073741829.422141561471826/422186808133968/?type=3&theater">Facebook</a></td>
    </tr>

    </table>
  </div>
  
</div>
</asp:Content>

